<footer class="p-5 grid md:grid-cols-2 lg:grid-cols-3 gap-10 text-white bg-merah">
  <div>
    <p class="roboto-mono text-3xl lg:text-4xl">#TELKOMSCHOOLS</p>
    <p class="roboto-mono text-3xl lg:text-4xl">#BYAYAMKAMPUNG</p>
  </div>
  <div>
    <p class="roboto-mono text-sm mb-4">TENTANG</p>
    <p class="inter text-sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin placerat est id neque vulputate,
      quis blandit leo venenatis. Phasellus efficitur nibh a eros laoreet, ac accumsan orci mattis. Nulla facilisi. Sed
      ut erat mattis, vulputate sapien sodales, convallis erat. In condimentum mi sit amet sem tempor, a aliquet risus
      imperdiet. Maecenas rhoncus eu diam non dignissim. Pellentesque et vulputate urna, et volutpat lectus. </p>
  </div>
  <div>
    <p class="roboto-mono text-sm mb-4">SOSIAL MEDIA</p>
    <div class="flex gap-5">
      <div class="h-5 w-5 bg-blue-200"></div>
      <div class="h-5 w-5 bg-blue-200"></div>
      <div class="h-5 w-5 bg-blue-200"></div>
      <div class="h-5 w-5 bg-blue-200"></div>
      <div class="h-5 w-5 bg-blue-200"></div>
    </div>
  </div>
</footer>