<footer class="p-5 grid md:grid-cols-2 lg:grid-cols-3 gap-10 text-white bg-merah">
  <div>
    <p class="roboto-mono text-3xl lg:text-4xl">#TELKOMSCHOOLS</p>
    <p class="roboto-mono text-3xl lg:text-4xl">#BYAYAMKAMPUNG</p>
  </div>
  <div>
    <p class="roboto-mono text-sm mb-4">TENTANG</p>
    <ul>
      <li>Jl. DI Panjaitan No.128, Karangreja, Purwokerto Kidul, Kec. Purwokerto Sel., Kabupaten Banyumas, Jawa Tengah 53141</li>
      <li>email@smktelkom-pwt.sch.id</li>
      <li>(0812) 345678</li>
    </ul>
  </div>
  <div>
    <p class="roboto-mono text-sm mb-4">PETA SITUS</p>
    <ul class="">
      <li>Beranda</li>
      <li>JalurKu</li>
      <li>Tentang</li>
    </ul>
  </div>
  <div>
    <p class="roboto-mono text-sm mb-4">SOSIAL MEDIA</p>
    <div class="flex gap-5">
      <div class="h-5 w-5 bg-blue-200"></div>
      <div class="h-5 w-5 bg-blue-200"></div>
      <div class="h-5 w-5 bg-blue-200"></div>
      <div class="h-5 w-5 bg-blue-200"></div>
      <div class="h-5 w-5 bg-blue-200"></div>
    </div>
  </div>
  <div>
    <p class="roboto-mono text-sm mb-4">2025 SMK Telkom Purwokerto. All rights reserved.</p>

  </div>
</footer>