<div class="h-screen mx-5 mb-10 flex flex-col justify-center gap-4 md:mx-auto max-w-3xl">
    <div class="grid gap-5">
        <img class="h-32" src="/images/404.png" alt="">
        <div class="inter text-5xl">Hmmm, mau nyari apa ya?</div>
    </div>

    <div class="grid gap-10">
        <p>
            Halaman yang kamu ingin tujui tidak ditemukan. Kamu mungkin ingin pergi ke tautan berikut:
        </p>
        <div class="grid md:grid-cols-3 gap-5">
            <a href="/" class="bg-merah text-white flex items-center gap-2 p-5 shadow-md hover:shadow-xl active:bg-gray-100 active:shadow-sm transition">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFFFFF"><path d="M240-200h120v-240h240v240h120v-360L480-740 240-560v360Zm-80 80v-480l320-240 320 240v480H520v-240h-80v240H160Zm320-350Z"/></svg> 
                Pergi ke Beranda
            </a>
            <a href="/rencanaku" class="flex items-center gap-2 p-5 shadow-md hover:shadow-xl transition">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#666666"><path d="m256-240-56-56 384-384H240v-80h480v480h-80v-344L256-240Z"/></svg>
                Pergi ke RencanaKu
            </a>
            <a href="/tentang" class="flex items-center gap-2 p-5 shadow-md hover:shadow-xl transition">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#666666"><path d="m256-240-56-56 384-384H240v-80h480v480h-80v-344L256-240Z"/></svg>
                Tentang Kami
            </a>
        </div>
    </div>
</div>