<div class="h-[calc(100vh-6em)] bg-fixed bg-no-repeat bg-cover bg-center">
  <div class="flex flex-col items-center justify-center text-center mx-auto max-w-5xl h-full text-gray-800">
    <div class="flex flex-col gap-6">
      <h1 class="inter text-4xl md:text-5xl">
        Temukan <span class="text-red-500">Jalur</span> Yang <br>Pas Untukmu
      </h1>

      <p class="text-lg inter">
        Berdasarkan ahli untuk anda.
      </p>
    </div>

    <button class="mt-10 py-3 px-8 bg-red-500 text-white rounded-md hover:bg-red-600 transition-all duration-300 mx-auto w-fit">
      Kunjungi Jalurku →
    </button>
  </div>
</div>


<div class="mx-auto max-w-7xl gap-10 lg:gap-0 px-5 py-10">
    <div class="grid lg:grid-cols-3 gap-5 justify-center">
        <div class="shadow-md grid place-content-center">
            <p class="inter text-gray-800 text-6xl p-5">1.</p>
            <div class="w-full h-32 bg-gray-200"></div>
            <p class="inter text-2xl mx-5 mt-5 mb-2">Ketahui Jurusan mu</p>
            <p class="inter mx-5 mb-5">
                Membantu mengenalkan berbagai jurusan yang tersedia di SMK Telkom Purwokerto serta kisah sukses alumni yang telah menempuh jurusan tersebut.
            </p>
        </div>
        <div class="shadow-md grid place-content-center">
            <p class="inter text-gray-800 text-6xl p-5">2.</p>
            <div class="w-full h-32 bg-gray-200"></div>
            <p class="inter text-2xl mx-5 mt-5 mb-2">Permainan Interaktif</p>
            <p class="inter mx-5 mb-5">
                Fitur interaktif berbentuk permainan berupa simulasi untuk mengenal dan eksplorasi terkait berbagai jurusan dengan cara yang menyenangkan dan mudah dipahami.
            </p>
        </div>
        <div class="shadow-md grid place-content-center">
            <p class="inter text-gray-800 text-6xl p-5">3.</p>
            <div class="w-full h-32 bg-gray-200"></div>
            <p class="inter text-2xl mx-5 mt-5 mb-2">Kerjakan Kuis Angket</p>
            <p class="inter mx-5 mb-5">
                Merupakan angket studi kasus yang dirancang untuk membantu siswa menemukan jurusan yang paling cocok dengan minat, bakat, dan tujuan masa depan mereka.
            </p>
        </div>
    </div>
</div>

