<div class="grid items-center w-full">
    <div class="relative w-full">
        <div class="px-5 absolute top-15 grid lg:grid-cols-2 gap-10 lg:gap-0">
            <h1 class="roboto-mono font-light text-4xl md:text-5xl">Wujudkan masa depanmu, <br> temukan jurusan yang tepat</h1>
            <div class="grid gap-2">
                <p class="inter text-sm">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed convallis enim ac sem egestas imperdiet.
                    Proin cursus nibh nec dapibus dapibus. Etiam ac pellentesque felis, eu viverra massa. Mauris eu ultrices
                    dui.
                </p>
                <a href="" class="underline">Kunjungi Jalurku →</a>
            </div>
        </div>
        <img class="w-full h-screen object-cover" src="https://picsum.photos/id/100/1080/300" alt="">
    </div>
</div>

<div class="grid grid-cols-1 lg:grid-cols-2 gap-10 lg:gap-0 px-5 py-10">
    <div class="flex flex-col justify-between mr-10">
        <div class="grid gap-2">
            <h1 class="roboto-mono font-bold text-2xl">KARYA ANAK SMK TELKOM PURWOKERTO</h1>
            <p class="inter lg:w-96 text-sm">Karya tersebut dinamakan KLIK, Anak SMK Telkom akan selalu membuat karya baru setiap
                harinya!</p>
        </div>
        <a href="" class="underline">Kunjungi KLIK →</a>
    </div>
    <div class="w-full grid gap-5">
        <div class="bg-gray-300 w-full h-32"></div>
        <div>
            <p class="roboto-mono font-bold text-xl">Keseharianku di SMK Telkom Purwokerto</p>
            <p class="inter text-sm text-gray-400">Oleh Lorem Ipsum</p>
        </div>
        <p class="inter text-sm">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed convallis enim ac sem egestas imperdiet. Proin
            cursus nibh nec dapibus dapibus. Etiam ac pellentesque felis, eu viverra massa. Mauris eu ultrices dui.
            Vivamus eu mi id turpis consequat mollis. Etiam consectetur gravida facilisis. Aenean vitae leo gravida,
            scelerisque est vitae, interdum nulla. Ut aliquet lorem vel lorem sagittis blandit. Suspendisse pretium, sem
            vel molestie mollis, lacus velit pulvinar nunc, vitae congue mauris tortor non velit. Phasellus pellentesque
            pretium risus sit amet cursus. Nam sit amet pretium erat. Nunc eu turpis pellentesque, ornare orci non,
            hendrerit nibh.
        </p>
    </div>
</div>