<section>
    <!-- TKJ -->
    <div class="flex flex-col-reverse md:flex-row items-center justify-between">
        <div class="w-full space-y-4 mx-5 p-5 md:p-0">
            <h2 id="slideText" class="text-4xl font-extrabold text-gray-900">
                Teknik komputer Jaringan
                <span
                    class="bg-red-500 text-white text-sm font-semibold px-2 py-1 rounded-md ml-2 inline-flex items-center gap-1">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M12 1v22m6-10a6 6 0 01-12 0" />
                    </svg>
                    TKJ
                </span>
            </h2>
            <p id="slideText" class="text-gray-900">
                TKJ adalah jurusan yang mendalami cara-cara merakit komputer dan instalasi jaringan
                komputer.
            </p>
        </div>
        <div id="slideImages" class="w-full relative mt-10 md:my-0">
            <div class="w-full h-60 md:h-[300px] bg-cover bg-center transition-all duration-500 clip-diagonal-1"
                style="background-image: url('images/tkj_images.jpg');">
            </div>
        </div>
    </div>

    <!-- TJA -->
    <div class="flex flex-col-reverse md:flex-row items-center justify-between">
        <div class="w-full space-y-4 mx-5 p-5 md:p-0">
            <h2 id="slideText" class="text-4xl font-extrabold text-gray-900">
                Teknik Jaringan Akses
                <span
                    class="bg-yellow-400 text-white text-sm font-semibold px-2 py-1 rounded-md ml-2 inline-flex items-center gap-1">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M12 1v22m6-10a6 6 0 01-12 0" />
                    </svg>
                    TJA
                </span>
            </h2>
            <p id="slideText" class="text-gray-900">
                TJA adalah jurusan yang berkompetensi di bidang jaringan, baik itu jaringan akses
                kabel (tembaga, coaxial dan fiber optic), maupun nirkabel.
            </p>
        </div>
        <div id="slideImages" class="w-full relative mt-10 md:my-0">
            <div class="w-full h-60 md:h-[300px] bg-cover bg-center transition-all duration-500 clip-diagonal-2"
                style="background-image: url('images/tja_images.jpg');">
            </div>
        </div>
    </div>

    <!-- RPL -->
    <div class="flex flex-col-reverse md:flex-row items-center justify-between">
        <div class="w-full space-y-4 mx-5 p-5 md:p-0">
            <h2 id="slideText" class="text-4xl font-extrabold text-gray-900">
                Rekayasa Perangkat Lunak
                <span
                    class="bg-green-500 text-white text-sm font-semibold px-2 py-1 rounded-md ml-2 inline-flex items-center gap-1">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M12 1v22m6-10a6 6 0 01-12 0" />
                    </svg>
                    RPL
                </span>
            </h2>
            <p id="slideText" class="text-gray-900">
                RPL adalah jurusan yang mendalami cara-cara pengembangan perangkat lunak
                (software).
            </p>
        </div>
        <div id="slideImages" class="w-full relative mt-10 md:my-0">
            <div class="w-full h-60 md:h-[300px] bg-cover bg-center transition-all duration-500 clip-diagonal-1"
                style="background-image: url('images/rpl_images.jpg');">
            </div>
        </div>
    </div>

    <!-- PG -->
    <div class="flex flex-col-reverse md:flex-row items-center justify-between">
        <div class="w-full space-y-4 mx-5 p-5 md:p-0">
            <h2 id="slideText" class="text-4xl font-extrabold text-gray-900">
                Pengembangan Gim
                <span
                    class="bg-blue-500 text-white text-sm font-semibold px-2 py-1 rounded-md ml-2 inline-flex items-center gap-1">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M12 1v22m6-10a6 6 0 01-12 0" />
                    </svg>
                    PG
                </span>
            </h2>
            <p id="slideText" class="text-gray-900">
                PG adalah jurusan yang berfokus pada pembuatan dan pengembangan permainan digital berbasis komputer dan
                perangkat mobile.
            </p>
        </div>
        <div id="slideImages" class="w-full relative mt-10 md:my-0">
            <div class="w-full h-60 md:h-[300px] bg-cover bg-center transition-all duration-500 clip-diagonal-2"
                style="background-image: url('images/pg_images.jpg');">
            </div>
        </div>
    </div>
</section>