<section>
    <!-- Pengenalan -->
    <div class="flex flex-col items-center space-y-4">
        <!-- Gambar -->
        <div class="w-full relative ">
            <div class="w-full h-60 md:h-[300px] bg-cover bg-center transition-all duration-500"
                style="background-image: url('../images/rpl_images.jpg');">
            </div>
        </div>
        <!-- Teks -->
        <div class="text-left lg:max-w-7xl lg:mx-auto py-6 gap-2 space-y-4 w-full">
            <!-- Judul -->
            <div class="mx-5 space-y-2">
                <h2 class="text-4xl inter">
                    Rekayasa Perangkat Lunak
                </h2>
                <span
                    class="bg-green-500 text-white text-sm font-semibold px-2 py-1 rounded-md my-2 inline-flex items-center gap-1">
                    <svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M12 1v22m6-10a6 6 0 01-12 0" />
                    </svg>
                    RPL
                </span>

            </div>
            <!-- Paragraf -->
            <div class="text-sm md:text-base inter space-y-5 lg:space-y-6 mx-5">
                <p>
                    Rekayasa Perangkat Lunak (RPL) adalah jurusan yang berfokus pada pembuatan dan
                    pengembangan <span class="text-merah font-bold">perangkat lunak atau <em>software</em>.</span>
                    Perangkat lunak sendiri merupakan
                    kumpulan instruksi atau program yang digunakan untuk komputer dan menjalankan berbagai aplikasi,
                    seperti game, sistem informasi, atau aplikasi mobile. Di jurusan ini, siswa belajar memahami
                    bagaimana sebuah software dirancang agar dapat membantu pekerjaan manusia menjadi lebih mudah dan
                    efisien.
                </p>
                <p>
                    Selama belajar di RPL, siswa akan mempelajari cara menulis kode pemrograman menggunakan berbagai
                    bahasa
                    seperti Python, Java, atau Kotlin.
                    Mereka juga akan <span class="text-merah font-bold">membuat aplikasi</span> berbasis web, desktop,
                    dan mobile, serta mempelajari desain
                    antarmuka
                    pengguna agar aplikasi yang dibuat menarik dan bmudah digunakan.
                    Tak hanya itu, siswa juga belajar bagaimana menguji, memperbaiki, dan mengelola proyek perangkat
                    lunak
                    secara profesional.
                </p>
                <p>
                    Melalui jurusan ini, siswa dilatih untuk berpikir logis, kreatif, dan mampu bekerja dalam tim.
                    Semua keterampilan tersebut dibutuhkan agar mereka dapat menjadi pengembang aplikasi, web developer,
                    maupun profesional IT yang siap menghadapi dunia industri digital di masa depan.
                </p>
            </div>
        </div>
    </div>
    <!-- Bagian Pekerjaan -->
    <div class="bg-merah py-10">
        <div class="max-w-7xl mx-auto px-5">
            <!-- Judul -->
            <h2 class="text-white text-3xl font-bold inter mb-8">PEKERJAAN</h2>
            <!-- Grid Pekerjaan -->
            <div class="grid grid-cols-2 md:grid-cols-5 gap-4 inter text-merah">
                <div class="bg-white p-1 text-center rounded-md shadow flex items-center justify-center">
                    Software Developer
                </div>
                <div class="bg-white p-4 text-center rounded-md shadow flex items-center justify-center">
                    Web Developer
                </div>
                <div class="bg-white p-4 text-center rounded-md shadow flex items-center justify-center">
                    Mobile App Developer
                </div>
                <div class="bg-white p-4 text-center rounded-md shadow flex items-center justify-center">
                    UI / UX Designer
                </div>
                <div class="bg-white p-4 text-center rounded-md shadow flex items-center justify-center">
                    Database Administrator
                </div>
                <div class="bg-white p-4 text-center rounded-md shadow flex items-center justify-center">
                    Data Analyst
                </div>
                <div class="bg-white p-4 text-center rounded-md shadow flex items-center justify-center">
                    Data Engineer
                </div>
                <div class="bg-white p-4 text-center rounded-md shadow flex items-center justify-center">
                    DevOps Engineer
                </div>
                <div class="bg-white p-4 text-center rounded-md shadow flex items-center justify-center">
                    Cyber Security 
                </div>
                <div class="bg-white p-4 text-center rounded-md shadow flex items-center justify-center">
                    AI Developer
                </div>

            </div>
        </div>
    </div>
    <div class="bg-white p-14">
        <p class="">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime ipsam ducimus necessitatibus quibusdam, quo officiis minima doloremque reprehenderit voluptates optio saepe non aspernatur, quae tenetur. Accusamus provident iste praesentium assumenda!</p>
    </div>
</section>