@import url(/woff2/inter.css);
@import url(/woff2/roboto-mono.css);

.inter {
    font-family: "Inter";
    font-feature-settings: "cv05" 1, "cv08" 1, "cv09" 1, "cv02" 1, "cv10" 1, "tnum" 1, "zero" 1, "ss07" 1, "calt" 1;
}

.roboto-mono {
    font-family: "Roboto Mono";
}

.clip-diagonal {
    clip-path: none;
}

/* Di layar besar: gambar miring */
@media (min-width: 768px) {
    .clip-diagonal-1 {
        clip-path: polygon(20% 0%, 100% 0%, 100% 100%, 0% 100%);
    }

    /* Dari kanan ke kiri */
    .clip-diagonal-2 {
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 20% 100%);
    }
}